# Resend Email Integration
RESEND_API_KEY=

# Steadfast Courier Integration
STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=
STEADFAST_BASE_URL=https://portal.steadfast.com.bd/api/v1

# SMS Gateway Integration
SMS_API_KEY=
SMS_SECRET_KEY=
SMS_SENDER_ID=
SMS_BASE_URL=http://sms.sasbulksms.com:3040/sendtext

# OneSignal Push Notifications
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
IMGBB_API_KEY=
